<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ApplicationSettings" type="RTI.Database.Updater.Util.Configuration.App, RTI.Database.Updater"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
  </connectionStrings>
  
  <!--Modes: Interval, Scheduled-->
  <AppSchedule Mode="Interval"
               IntervalMinutes=".5"
               ScheduledTime="23:59:00"/>
  
  <!--LogLevels: Fatal, Error, Warning, Info, All-->
  <LoggerSettings LogLevel ="All"
                  WriteToFIle="true"
                  WriteToDB="false"
                  WriteToWindowsEventLog="false"/>
                    
                    
  
</configuration>